[submodule "subprojects/quickerNES"]
	path = subprojects/quickerNES
	url = https://github.com/SergioMartin86/quickerNES.git
[submodule "extern/jaffarCommon"]
	path = extern/jaffarCommon
	url = https://github.com/SergioMartin86/jaffarCommon.git
